body{
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header-main{
   
    color: #FFFFFF;
    font-size: 50px;
}
.downloadbtn{
    color: aquamarine;
    font-size: 15px;
}
.middle-header{
    
    color: #FFFFFF;
    font-size: 30px;
}
.middle-line{
    color: gray;
    font-size: 21px;
}
.image{
    width: 1000px;
}
#footer{
    color: gray;
    text-align: right;
    padding-right: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}